<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="mx.tri.calllog"
  version="1.0">

  <description>Call Log from Cordova Application</description>

  <name>Cordova Call Log Plugin</name>
  <author>Tri Nguyen</author>

  <license>Apache 2.0</license>
  <keywords>cordova,call,dialer,phonegap</keywords>
  <js-module src="www/CallLog.js" name="CallLog">
    <clobbers target="window.plugins.CallLog"/>
  </js-module>  

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="CallLog">
              <param name="android-package" value="mx.tri.calllog.CallLogPlugin"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_CALL_LOG" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
      </config-file>
      <source-file src="src/android/CallLogPlugin.java" target-dir="src/mx/tri/calllog" />
  </platform>
</plugin>
